body {
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  background: radial-gradient(#0072b6, #050141);
  color: white;
}

h1 {
  font-size: 32px;
  color: white;
  text-align: center;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 50px;
}

.search-form {
  margin-top: -10px;
  margin-left: 120px;
  margin-right: 120px;
  outline-color: black;
}

.search-input {
  margin: 0 auto;
}

.form-control {
  text-align: left;
  border-radius: 14px;
  padding-right: -5px;
}

.btn-primary {
  text-align: center;
  background: radial-gradient(#3fdbf0, #9198e5);
  border-width: 3px;
  border-color: rgb(0, 20, 68);
  margin-left: -20px;
}

.current-forecast {
  text-align: center;
  padding-right: 50px;
  padding-left: 10px;
  margin-top: -20px;
}

.now-date {
  font-size: 12px;
}

.current-date {
  font-size: 25px;
  margin-top: 20px;
}

.now-city {
  font-size: 35px;
  text-transform: uppercase;
}

.today {
  max-width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  padding-right: 50px;
  padding-left: 8px;
}
.temp-description {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  padding-right: 50px;
  padding-left: 10px;
}

.quote {
  font-size: 20px;
  font-style: bold;
}

.card {
  max-width: 400px;
  max-height: 200px;
  border-radius: 35px;
  text-align: center;
  background: radial-gradient(#3fdbf0, #9198e5);
  border-width: 4px;
  border-color: rgb(0, 20, 68);
}

.row {
  margin: 0 auto;
  margin-left: 90px;
  margin-right: -40px;
}
